.profile-orders{
    background-image: url('../images/profile.jpg');
    background-size: 40%;
    background-repeat: no-repeat;
    background-position: 50% 70%;
}

tr:hover{
    font-weight: bold;
    background-color: rgb(148, 148, 148);
    color: white;
}

tbody{
    text-align: center;
}


.p-headline {
    font: bold 40px Poppins, sans-serif;
    background-image: linear-gradient(70deg, #E21143, #FFB03A);
    background-clip: text;
    color: transparent;
}
