/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
@import url("https://fonts.googleapis.com/css2?family=Mulish&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Mulish", sans-serif;
}

main{
  min-height: 80vh;
}

h3{
  padding: 1rem 0;
}

h1{
  font-size: 1.8rem;
  padding: 1rem 0;
}

h2{
  font-size: 1.4rem;
  padding: 0.5rem 0;
}

.rating span {
  margin: 0.1rem;
}

.homepage {
  color: #36417d;
  min-height: 80vh;
  justify-content: center;
  align-items: center;
  display: flex;
}

.home1 {
  width: 700px;
  height: 500px;
  margin-left: 10%;
}

.hometext {
  font-weight: bold;
}

.hometext h1 {
  font-size: 55px;
  line-height: 64px;
  font-weight: 700;
  padding: 0%;
}

.slider {
  margin-bottom: 0px;
  padding: none;
}

.imgslider img:hover {
  transform: scale(1.1);
}

.pcard:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.pcart:hover{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.pcart {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
}

.form-check-label{
  padding: 0%;
}

.userlist{
  background-image: url(./images/users.jpg);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 40%;
  min-height: 80vh;
}

table{
  text-align: center;
}